.navbar {
  border-radius: 0;
  border-bottom: 1px solid #D8D8D8;
  background-color: white;
  margin-bottom: 15px;
  font-size: 18px;
  padding-top: 10px;
}

.navbar-brand {
  color: #B22540;
  text-decoration: none;
}

.nav a {
  color: #848484;
  letter-spacing: 1px;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  padding-left: 15px;
  text-decoration: none;
}


.navbar-brand a:hover, .nav a:hover {
  text-decoration: none;
  color: #8E1468;
}

.nav-link {
  position: relative;
}
.nav-link[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 60%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  background: #B22540;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}
